<footer>
  <p>
    -coded by
    <a href="https://twitter.com/Presh_031" target="_blank">presh-031</a>
    <a target="_blank" href="https://github.com/presh-031"><i class="fa-brands fa-github"></i></a>
  </p>
</footer>
