<footer>
  <p>-coded by <a href="http://www.twitter.com/presh_031 " target="_blank">presh-031</a></p>
</footer>
<!-- footer {
  padding: 1rem;
  display: grid;
  place-items: center;
  color: $main-light;
  font-size: 1.5rem;
  a {
    color: inherit;
  }
} -->
