<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="./css/form.css" />
  <body>
    <%- include('./partials/header.ejs') %>
    <h1>New Message</h1>
    <form action="/new" method="POST">
      <label for="user">Name</label>
      <input type="text" id="user" name="user" required />

      <label for="title">Message title</label>
      <input type="text" id="title" name="title" required />

      <label for="text">Message </label>
      <textarea id="text" name="text" required></textarea>

      <div>
        <button type="submit">Submit Message</button>
        <div>
          <a href="/">Go Back</a>
        </div>
      </div>
    </form>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
